.kit-grid {
    display: grid;
}

main div:first-child {
    height: 540px;
}

.kit-grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.kit-grid-2 {
    grid-template-columns: 1fr 1fr;
}

.kit-grid-span-2 {
    grid-column: span 2;
}

.kit-grid-center {
    align-self: center;
}

.kit-flex {
    display: flex;
}

.kit-flex-start {
    justify-content: start;
}

.kit-flex-center {
    margin-left: auto;
    margin-right: auto;
}

.kit-flex-downward {
    flex-direction: column;
}

.kit-width-100 {
    width: 100px;
}

.kit-width-300 {
    width: 300px;
}

.kit-width-500 {
    width: 500px;
}

.kit-width-full {
    width: 100%;
}