.kit-center {
    margin-left: auto;
    margin-right: auto;
}

.kit-flex {
    display: flex;
}

.kit-flex-start {
    justify-content: start;
}

.kit-width-100 {
    width: 100px;
}

.kit-width-300 {
    width: 300px;
}

.kit-width-500 {
    width: 500px;
}