main {
    background: url(/images/image.jpg) no-repeat;
    background-size: cover;
}

.editor-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.editor-container img {
    height: 450px;
}

.action-buttons button {
    margin-bottom: 10px;
}

.file-extensions-dropdown {
    left: 158px;
    bottom: -78px;
}

.zoom-max-value {
    margin-left: 5px;
}

.zoom-min-value {
    margin-right: 5px;
}

.selectable-button{
    border-width: 2px;
    border-color: transparent;
    border-style: solid;
}

.selectable-button:not(.selected){
    opacity: 0.5;
}

.selected {
    border: 2px solid black;
    opacity: 1;
}