.w3-button {
    padding: 10px;
}

main {
    background: url(/images/image.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.editor-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.editor-container img {
    max-height: 450px;
    max-width: 550px;
}

.editor-container div.w3-container:last-child button {
    padding: 7px;
}

.editor-container div.w3-container:last-child div.w3-dropdown-hover {
    margin-bottom: 15px;
}

.editor-container div.w3-container:last-child div.w3-dropdown-content {
    right: 130px;
    top: -1px;
}

.action-buttons button {
    margin-bottom: 10px;
}

.file-extensions-dropdown {
    left: 158px;
    bottom: -78px;
}

.input-max-value {
    margin-left: 5px;
}

.input-min-value {
    margin-right: 5px;
}

.selectable-button{
    border-width: 2px;
    border-color: transparent;
    border-style: solid;
}

.selectable-button:not(.selected){
    opacity: 0.5;
}

.selected {
    border: 2px solid black;
    opacity: 1;
}

.w3-button:hover {
    opacity: 1;
}

.w3-button-hover:hover {
    color: #000 !important;
    background-color: #ccc !important
}

.w3-ripple:active {
    opacity: 0.5 !important;
}

.w3-ripple {
    transition: opacity 0s !important;
}

.filters-grid {
    grid-template-rows: 50px auto;
}

#rotate-options > button {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}