<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>I'm-Mage</title>
    <link rel="stylesheet" href="~/css/w3.css" />
    <link rel="stylesheet" href="~/css/layout.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="kit-flex kit-flex-start w3-container">
        <div class="w3-dropdown-hover">
            <button class="w3-button">Файл</button>
            <div class="w3-dropdown-content w3-bar-block w3-border">
                <a href="#" class="w3-bar-item w3-button">Выбрать</a>
                <div class="w3-bar-item w3-dropdown-hover">
                    Сохранить
                    <div class="w3-dropdown-content w3-bar-block w3-border file-extensions-dropdown">
                        <a href="#" class="w3-bar-item w3-button">как JPG</a>
                        <a href="#" class="w3-bar-item w3-button">как PNG</a>
                        <a href="#" class="w3-bar-item w3-button">как BMP</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="w3-border w3-padding-16 editor-container">
            <div class="w3-container kit-flex kit-flex-downward">
                <h3 class="kit-flex-center">Фильтры</h3>
                <a href="#" class="w3-panel w3-button w3-padding-16 w3-round-medium w3-gray">Черно-белый</a>
                <a href="#" class="w3-panel w3-button w3-padding-16 w3-round-medium w3-light-green">Оттенки зеленого</a>
                <a href="#" class="w3-panel w3-button w3-padding-16 w3-round-medium w3-pale-red">Оттенки красного</a>
            </div>
            @RenderBody()
            <div class="w3-container kit-flex kit-flex-downward">
                <h3 class="kit-flex-center">Трансформация</h3>
                <a href="#" class="w3-panel w3-padding-16 w3-button w3-round-medium">Повернуть</a>
                <a href="#" class="w3-panel w3-padding-16 w3-button w3-round-medium">Отразить</a>
                <a href="#" class="w3-panel w3-padding-16 w3-button w3-round-medium">Развернуть</a>
            </div>
        </div>
        <div class="w3-container w3-center action-buttons">
            <button class="w3-button w3-hover-amber">Отменить</button>
            <button class="w3-button w3-hover-red">Сброс</button>
        </div>
    </main>
    <footer>
        <p class="w3-margin-left w3-small">
            Графический редактор &laquo;ImMage&raquo; &copy; 2021.
            Разработан студентом группы 8025М <a target="_blank" href="https://new.guap.ru">СПбГУАП</a>
            <a target="_blank" href="https://vk.com/mekk1t">Никитой Калимовым</a>.
        </p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
